<div class="sl-hdcbox">
    <h4 class="sl-htit sl-ht1">TOP NẠP THẺ THÁNG</h4>
    <ul class="sl-htul">
        <li>
            <i><b> 1 </b></i>
            <span><b> Khanh Assa </b></span>
            <label><b>2,300,000</b><b><sup>đ</sup></b></label>
        </li>
        <li>
            <i><b> 2 </b></i>
            <span><b> Trịnh Thiên Vỹ </b></span>
            <label><b>2,100,000</b><b><sup>đ</sup></b></label>
        </li>
        <li>
            <i><b> 3 </b></i>
            <span><b> Hoàng Ân </b></span>
            <label><b>1,800,000</b><b><sup>đ</sup></b></label>
        </li>
        <li>
            <i><b> 4 </b></i>
            <span><b> Nguyên Anh </b></span>
            <label><b>1,300,000</b><b><sup>đ</sup></b></label>
        </li>
        <li>
            <i><b> 5 </b></i>
            <span><b> Đạt Nguyễn Đình </b></span>
            <label><b>1,000,000</b><b><sup>đ</sup></b></label>
        </li>
    </ul>
</div>
