
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!-- Search -->
<div class="sl-search">
    <div class="container">
        <div class="sl-sebox">
            <div class="sl-row clearfix">
                <div class="sl-col col-md-6 col-xs-12">
                    <h4 class="sl-htit sl-ht3">CHỌN GAME</h4>
                    <div class="swiper-container slchgame swiper-container-horizontal">
                        <div class="swiper-wrapper">
                            <div data-type="wheel" class="swiper-slide" style="width: 106px; margin-right: 20px;">
                                <a href="/" title="Vòng quay may mắn">
                                    <span><img src="https://shoplienminh360.vn/public/img/icon-lucky-draw.png" alt="Vòng quay may mắn"></span>
                                    <h3>Vòng quay may mắn</h3>
                                </a>
                            </div>
                            <div data-type="" class="swiper-slide active" style="width: 106px; margin-right: 20px;">
                                <a href="/" title="Liên minh">
                                    <span><img src="https://shoplienminh360.vn/public/img/LMHT.png" alt="Liên minh"></span>
                                    <h3>Liên minh</h3>
                                </a>
                            </div>
                            <div data-type="lien-quan" class="swiper-slide" style="width: 106px; margin-right: 20px;">
                                <a href="/" title="Liên quân">
                                    <span><img src="https://shoplienminh360.vn/public/img/LQ.png" alt="Liên quân"></span>
                                    <h3>Liên quân</h3>
                                </a>
                            </div>
                            <div data-type="lien-minh-10k" class="swiper-slide" style="width: 106px; margin-right: 20px;">
                                <a href="/" title="Random">
                                    <span><img src="https://shoplienminh360.vn/public/img/hot.gif" alt="Random"></span>
                                    <h3>Vận may LOL 10k</h3>
                                </a>
                            </div>
                            <div data-type="lien-minh-25k" class="swiper-slide" style="width: 106px; margin-right: 20px;">
                                <a href="/" title="Random">
                                    <span><img src="https://shoplienminh360.vn/public/img/hot.gif" alt="Random"></span>
                                    <h3>Vận may LOL 25k</h3>
                                </a>
                            </div>
                            <div data-type="lien-minh-50k" class="swiper-slide" style="width: 106px; margin-right: 20px;">
                                <a href="/" title="Random">
                                    <span><img src="https://shoplienminh360.vn/public/img/hot.gif" alt="Random"></span>
                                    <h3>Vận may LOL 50k</h3>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-scrollbar" style="display: none;">
                            <div class="swiper-scrollbar-drag" style="width: 0px;"></div>
                        </div>
                    </div>
                </div>
                <div class="sl-col col-md-6 col-xs-12 filter">
                    <h4 class="sl-htit sl-ht3">CHỌN THUỘC TÍNH LỌC</h4>
                    <form lpformnum="1">
                        <ul class="sl-seauls clearfix">
                            <li>
                                <select class="form-control property-filter" data-filter="tim-theo-rank">
                                    <option value="">Tìm theo rank</option>
                                    <option value="chua">Chưa rank</option>
                                    <option value="dong">Rank Đồng</option>
                                    <option value="bac">Rank Bạc</option>
                                    <option value="vang">Rank Vàng</option>
                                    <option value="bach-kim">Rank Bạch Kim</option>
                                    <option value="kim-cuong">Rank Kim Cương</option>
                                    <option value="cao-thu">Rank Cao Thủ</option>
                                    <option value="thach-dau">Rank Thách Đấu</option>
                                </select>
                            </li>
                            <li>
                                <select class="form-control property-filter" data-filter="tim-theo-gia">
                                    <option value="">Tìm theo giá</option>
                                    <option value="10k">Acc 10k</option>
                                    <option value="20k">Acc 20k</option>
                                    <option value="30k">Acc 30k</option>
                                    <option value="40k">Acc 40k</option>
                                    <option value="50k">Acc 50k</option>
                                    <option value="50k-100k">Acc 50k - 100k</option>
                                    <option value="100k-500k">Acc 100k - 500k</option>
                                    <option value="500k-2000k">Acc 500k - 2000k</option>
                                </select>
                            </li>
                            <li>
                                <select class="form-control property-filter" data-filter="tim-theo-khung">
                                    <option value="">Tìm theo khung</option>
                                    <option value="chua">Không khung</option>
                                    <option value="bac">Khung Bạc</option>
                                    <option value="vang">Khung Vàng</option>
                                    <option value="bach-kim">Khung Bạch Kim</option>
                                    <option value="kim-cuong">Khung Kim Cương</option>
                                    <option value="cao-thu">Khung Cao Thủ</option>
                                    <option value="thach-dau">Khung Thách Đấu</option>
                                </select>
                            </li>
                            <li>
                                <select class="form-control property-filter" data-filter="sap-xep-theo">
                                    <option value="">Sắp xếp theo</option>
                                    <option value="nhieu-tuong">Nhiều tướng</option>
                                    <option value="nhieu-skin">Nhiều trang phục</option>
                                </select>
                            </li>
                            <li>
                                <input type="text" class="form-control property-filter" placeholder="Tìm Theo Trang Phục" data-filter="tim-theo-trang-phuc">
                            </li>
                            <li>
                                <input type="text" class="form-control property-filter" placeholder="Tìm Theo Tướng" data-filter="tim-theo-tuong">
                            </li>
                            <li>
                                <input type="text" class="form-control property-filter" placeholder="Tìm Theo Thông Thạo" data-filter="tim-theo-thong-thao">
                            </li>
                        </ul>
                        <ul class="sl-sebtns">
                            <li><button class="sl-sebt1 btn-filter" type="button">TÌM KIẾM</button></li>
                            <li><button class="sl-sebt2" type="reset">HỦY BỎ</button></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- List account -->
<div class="container">
    <div class="sllpbox">
        <b style="color: #f00;font-size: 24px;"><center style=""><h2 class=""> Cày Thuê Vui Lòng Liên Hệ Fanpage Để Được Hỗ Trợ</h2></center></b>
        <br>
        <marquee direction="”right”" behavior="”alternate”" scrollamount="”40″"><h3 class="sl-htit sl-ht3"><img src="https://jobsgo.vn/media/img/hot.gif"> Chuyển khoản ATM - Ví MoMo được giảm thêm 20%.<img src="https://jobsgo.vn/media/img/hot.gif"></h3></marquee>
        <div id="list-account">

            <div class="sl-produl clearfix">
                <div class="sl-prodli">
                    <div class="sl-prodbox">
                        <img src="https://shoplienminh360.vn/public/img/price-percent-br-2.png" style="position:absolute; top:-2px; right:-9px;z-index:99">
                        <span style="color:#000; position:absolute; top:8px; right:0px; z-index:99;"><b>-30%</b></span>
                        <a class="sl-prlinks" href="https://shoplienminh360.vn/tai-khoan-25485.html">
                            <span class="sl-lpcode">Acc Ngon - Skin Gắt </span>
                            <p class="sl-primg"><img src="https://shoplienminh360.vn/public/files/thumb/25485-1.jpg"></p>
                            <div class="sl-prcode">
                                <span>Acc LOL #25485</span>
                                <div class="hidden-xs">
                                    <img class="sl-champMaster" style="right: 5px;" src="https://shoplienminh360.vn/public/img/champion/Lulu.png">
                                    <img class="sl-champMaster" style="right: 40px;" src="https://shoplienminh360.vn/public/img/champion/Lux.png">
                                    <img class="sl-champMaster" style="right: 75px;" src="https://shoplienminh360.vn/public/img/champion/Nami.png">
                                </div>
                            </div>
                            <div class="sl-priftop">
                                <p class="sl-prcode"><span>Acc LOL #25485</span></p>
                                <ul>
                                    <li>Rank: Bạch Kim</li>
                                    <li>Khung: Bạch Kim</li>
                                    <li>Tướng: 120</li>
                                    <li>Trang Phục: 236</li>
                                    <li>Bảng Ngọc: 4</li>
                                </ul>
                            </div>
                        </a>
                        <div class="sl-prifs">
                            <span class="sl-prpri sl-prpri1 hidden-xs"><img src="https://shoplienminh360.vn/public/img/rank/platinum.png" width="45" height="45"></span>
                            <span class="sl-prpri sl-prpri2 hidden-xs" style="top: 50px; font-size: 12px; text-decoration: line-through; color: #bdc3c7">2.000.000đ</span>
                            <span class="sl-prpri sl-prpri2">1.400.000đ</span>
                            <div class="sl-prifbot">
                                <ul>
                                    <li>Rank: Bạch Kim</li>
                                    <li>Tướng: 120</li>
                                    <li>Trang Phục: 236</li>
                                </ul>
                            </div>
                            <p class="sl-prbot"><a style="cursor: pointer;" onclick="showPopupAcc(25485);" class="sl-btnod">MUA NGAY</a></p>
                        </div>
                    </div>
                </div><div class="sl-prodli">
                    <div class="sl-prodbox">
                        <a class="sl-prlinks" href="https://shoplienminh360.vn/tai-khoan-7055.html">
                            <span class="sl-lpcode">Bạn Nào Lần Đầu Mua Acc Tại Shop Sợ Lừa Đảo Thì Vào Đây Xem Nhé</span>
                            <p class="sl-primg"><img src="https://shoplienminh360.vn/public/files/thumb/7055-1.jpg"></p>
                            <div class="sl-prcode">
                                <span>Acc LOL #7055</span>
                            </div>
                            <div class="sl-priftop">
                                <p class="sl-prcode"><span>Acc LOL #7055</span></p>
                                <ul>
                                    <li>Rank: Thách đấu</li>
                                    <li>Khung: Thách đấu</li>
                                    <li>Tướng: 0</li>
                                    <li>Trang Phục: 0</li>
                                    <li>Bảng Ngọc: 88</li>
                                </ul>
                            </div>
                        </a>
                        <div class="sl-prifs">
                            <span class="sl-prpri sl-prpri1 hidden-xs"><img src="https://shoplienminh360.vn/public/img/rank/challenger.png" width="45" height="45"></span>
                            <span class="sl-prpri sl-prpri2">888.888.888đ</span>
                            <div class="sl-prifbot">
                                <ul>
                                    <li>Rank: Thách đấu</li>
                                    <li>Tướng: 0</li>
                                    <li>Trang Phục: 0</li>
                                </ul>
                            </div>
                            <p class="sl-prbot"><a style="cursor: pointer;" onclick="showPopupAcc(7055);" class="sl-btnod">MUA NGAY</a></p>
                        </div>
                    </div>
                </div><div class="sl-prodli">
                    <div class="sl-prodbox">
                        <img src="https://shoplienminh360.vn/public/img/price-percent-br-2.png" style="position:absolute; top:-2px; right:-9px;z-index:99">
                        <span style="color:#000; position:absolute; top:8px; right:0px; z-index:99;"><b>-30%</b></span>
                        <a class="sl-prlinks" href="https://shoplienminh360.vn/tai-khoan-24380.html">
                            <span class="sl-lpcode">Acc Ngon - Giá Quá Ok </span>
                            <p class="sl-primg"><img src="https://shoplienminh360.vn/public/files/thumb/24380-1.jpg"></p>
                            <div class="sl-prcode">
                                <span>Acc LOL #24380</span>
                                <div class="hidden-xs">
                                    <img class="sl-champMaster" style="right: 5px;" src="https://shoplienminh360.vn/public/img/champion/Yasuo.png">
                                    <img class="sl-champMaster" style="right: 40px;" src="https://shoplienminh360.vn/public/img/champion/Lee Sin.png">
                                    <img class="sl-champMaster" style="right: 75px;" src="https://shoplienminh360.vn/public/img/champion/Zed.png">
                                </div>
                            </div>
                            <div class="sl-priftop">
                                <p class="sl-prcode"><span>Acc LOL #24380</span></p>
                                <ul>
                                    <li>Rank: Vàng</li>
                                    <li>Khung: Chưa</li>
                                    <li>Tướng: 143</li>
                                    <li>Trang Phục: 237</li>
                                    <li>Bảng Ngọc: 20</li>
                                </ul>
                            </div>
                        </a>
                        <div class="sl-prifs">
                            <span class="sl-prpri sl-prpri1 hidden-xs"><img src="https://shoplienminh360.vn/public/img/rank/gold.png" width="45" height="45"></span>
                            <span class="sl-prpri sl-prpri2 hidden-xs" style="top: 50px; font-size: 12px; text-decoration: line-through; color: #bdc3c7">2.000.000đ</span>
                            <span class="sl-prpri sl-prpri2">1.400.000đ</span>
                            <div class="sl-prifbot">
                                <ul>
                                    <li>Rank: Vàng</li>
                                    <li>Tướng: 143</li>
                                    <li>Trang Phục: 237</li>
                                </ul>
                            </div>
                            <p class="sl-prbot"><a style="cursor: pointer;" onclick="showPopupAcc(24380);" class="sl-btnod">MUA NGAY</a></p>
                        </div>
                    </div>
                </div><div class="sl-prodli">
                    <div class="sl-prodbox">
                        <img src="https://shoplienminh360.vn/public/img/price-percent-br-2.png" style="position:absolute; top:-2px; right:-9px;z-index:99">
                        <span style="color:#000; position:absolute; top:8px; right:0px; z-index:99;"><b>-30%</b></span>
                        <a class="sl-prlinks" href="https://shoplienminh360.vn/tai-khoan-23454.html">
                            <span class="sl-lpcode">Toàn Skin Đẹp Rẻ Nhé</span>
                            <p class="sl-primg"><img src="https://shoplienminh360.vn/public/files/thumb/23454-1.jpg"></p>
                            <div class="sl-prcode">
                                <span>Acc LOL #23454</span>
                                <div class="hidden-xs">
                                    <img class="sl-champMaster" style="right: 5px;" src="https://shoplienminh360.vn/public/img/champion/Sona.png">
                                    <img class="sl-champMaster" style="right: 40px;" src="https://shoplienminh360.vn/public/img/champion/Lux.png">
                                    <img class="sl-champMaster" style="right: 75px;" src="https://shoplienminh360.vn/public/img/champion/Nami.png">
                                </div>
                            </div>
                            <div class="sl-priftop">
                                <p class="sl-prcode"><span>Acc LOL #23454</span></p>
                                <ul>
                                    <li>Rank: Vàng</li>
                                    <li>Khung: Chưa</li>
                                    <li>Tướng: 122</li>
                                    <li>Trang Phục: 249</li>
                                    <li>Bảng Ngọc: 9</li>
                                </ul>
                            </div>
                        </a>
                        <div class="sl-prifs">
                            <span class="sl-prpri sl-prpri1 hidden-xs"><img src="https://shoplienminh360.vn/public/img/rank/gold.png" width="45" height="45"></span>
                            <span class="sl-prpri sl-prpri2 hidden-xs" style="top: 50px; font-size: 12px; text-decoration: line-through; color: #bdc3c7">2.200.000đ</span>
                            <span class="sl-prpri sl-prpri2">1.540.000đ</span>
                            <div class="sl-prifbot">
                                <ul>
                                    <li>Rank: Vàng</li>
                                    <li>Tướng: 122</li>
                                    <li>Trang Phục: 249</li>
                                </ul>
                            </div>
                            <p class="sl-prbot"><a style="cursor: pointer;" onclick="showPopupAcc(23454);" class="sl-btnod">MUA NGAY</a></p>
                        </div>
                    </div>
                </div><div class="sl-prodli">
                    <div class="sl-prodbox">
                        <img src="https://shoplienminh360.vn/public/img/price-percent-br-2.png" style="position:absolute; top:-2px; right:-9px;z-index:99">
                        <span style="color:#000; position:absolute; top:8px; right:0px; z-index:99;"><b>-30%</b></span>
                        <a class="sl-prlinks" href="https://shoplienminh360.vn/tai-khoan-24440.html">
                            <span class="sl-lpcode">Acc Ngon - Rẻ</span>
                            <p class="sl-primg"><img src="https://shoplienminh360.vn/public/files/thumb/24440-1.jpg"></p>
                            <div class="sl-prcode">
                                <span>Acc LOL #24440</span>
                                <div class="hidden-xs">
                                    <img class="sl-champMaster" style="right: 5px;" src="https://shoplienminh360.vn/public/img/champion/Jinx.png">
                                    <img class="sl-champMaster" style="right: 40px;" src="https://shoplienminh360.vn/public/img/champion/Katarina.png">
                                    <img class="sl-champMaster" style="right: 75px;" src="https://shoplienminh360.vn/public/img/champion/Nasus.png">
                                </div>
                            </div>
                            <div class="sl-priftop">
                                <p class="sl-prcode"><span>Acc LOL #24440</span></p>
                                <ul>
                                    <li>Rank: Bạc</li>
                                    <li>Khung: Chưa</li>
                                    <li>Tướng: 143</li>
                                    <li>Trang Phục: 261</li>
                                    <li>Bảng Ngọc: 5</li>
                                </ul>
                            </div>
                        </a>
                        <div class="sl-prifs">
                            <span class="sl-prpri sl-prpri1 hidden-xs"><img src="https://shoplienminh360.vn/public/img/rank/silver.png" width="45" height="45"></span>
                            <span class="sl-prpri sl-prpri2 hidden-xs" style="top: 50px; font-size: 12px; text-decoration: line-through; color: #bdc3c7">2.000.000đ</span>
                            <span class="sl-prpri sl-prpri2">1.400.000đ</span>
                            <div class="sl-prifbot">
                                <ul>
                                    <li>Rank: Bạc</li>
                                    <li>Tướng: 143</li>
                                    <li>Trang Phục: 261</li>
                                </ul>
                            </div>
                            <p class="sl-prbot"><a style="cursor: pointer;" onclick="showPopupAcc(24440);" class="sl-btnod">MUA NGAY</a></p>
                        </div>
                    </div>
                </div><div class="sl-prodli">
                    <div class="sl-prodbox">
                        <img src="https://shoplienminh360.vn/public/img/price-percent-br-2.png" style="position:absolute; top:-2px; right:-9px;z-index:99">
                        <span style="color:#000; position:absolute; top:8px; right:0px; z-index:99;"><b>-30%</b></span>
                        <a class="sl-prlinks" href="https://shoplienminh360.vn/tai-khoan-24456.html">
                            <p class="sl-primg"><img src="https://shoplienminh360.vn/public/files/thumb/24456-1.jpg"></p>
                            <div class="sl-prcode">
                                <span>Acc LOL #24456</span>
                                <div class="hidden-xs">
                                    <img class="sl-champMaster" style="right: 5px;" src="https://shoplienminh360.vn/public/img/champion/Trundle.png">
                                    <img class="sl-champMaster" style="right: 40px;" src="https://shoplienminh360.vn/public/img/champion/Kayn.png">
                                    <img class="sl-champMaster" style="right: 75px;" src="https://shoplienminh360.vn/public/img/champion/Master Yi.png">
                                </div>
                            </div>
                            <div class="sl-priftop">
                                <p class="sl-prcode"><span>Acc LOL #24456</span></p>
                                <ul>
                                    <li>Rank: Vàng</li>
                                    <li>Khung: Chưa</li>
                                    <li>Tướng: 140</li>
                                    <li>Trang Phục: 284</li>
                                    <li>Bảng Ngọc: 3</li>
                                </ul>
                            </div>
                        </a>
                        <div class="sl-prifs">
                            <span class="sl-prpri sl-prpri1 hidden-xs"><img src="https://shoplienminh360.vn/public/img/rank/gold.png" width="45" height="45"></span>
                            <span class="sl-prpri sl-prpri2 hidden-xs" style="top: 50px; font-size: 12px; text-decoration: line-through; color: #bdc3c7">2.700.000đ</span>
                            <span class="sl-prpri sl-prpri2">1.890.000đ</span>
                            <div class="sl-prifbot">
                                <ul>
                                    <li>Rank: Vàng</li>
                                    <li>Tướng: 140</li>
                                    <li>Trang Phục: 284</li>
                                </ul>
                            </div>
                            <p class="sl-prbot"><a style="cursor: pointer;" onclick="showPopupAcc(24456);" class="sl-btnod">MUA NGAY</a></p>
                        </div>
                    </div>
                </div><div class="sl-prodli">
                    <div class="sl-prodbox">
                        <img src="https://shoplienminh360.vn/public/img/price-percent-br-2.png" style="position:absolute; top:-2px; right:-9px;z-index:99">
                        <span style="color:#000; position:absolute; top:8px; right:0px; z-index:99;"><b>-30%</b></span>
                        <a class="sl-prlinks" href="https://shoplienminh360.vn/tai-khoan-24393.html">
                            <span class="sl-lpcode">Skin Rất Đẹp Nha</span>
                            <p class="sl-primg"><img src="https://shoplienminh360.vn/public/files/thumb/24393-1.jpg"></p>
                            <div class="sl-prcode">
                                <span>Acc LOL #24393</span>
                                <div class="hidden-xs">
                                    <img class="sl-champMaster" style="right: 5px;" src="https://shoplienminh360.vn/public/img/champion/Lee Sin.png">
                                    <img class="sl-champMaster" style="right: 40px;" src="https://shoplienminh360.vn/public/img/champion/Blitzcrank.png">
                                    <img class="sl-champMaster" style="right: 75px;" src="https://shoplienminh360.vn/public/img/champion/Yasuo.png">
                                </div>
                            </div>
                            <div class="sl-priftop">
                                <p class="sl-prcode"><span>Acc LOL #24393</span></p>
                                <ul>
                                    <li>Rank: Vàng</li>
                                    <li>Khung: Chưa</li>
                                    <li>Tướng: 135</li>
                                    <li>Trang Phục: 292</li>
                                    <li>Bảng Ngọc: 6</li>
                                </ul>
                            </div>
                        </a>
                        <div class="sl-prifs">
                            <span class="sl-prpri sl-prpri1 hidden-xs"><img src="https://shoplienminh360.vn/public/img/rank/gold.png" width="45" height="45"></span>
                            <span class="sl-prpri sl-prpri2 hidden-xs" style="top: 50px; font-size: 12px; text-decoration: line-through; color: #bdc3c7">2.500.000đ</span>
                            <span class="sl-prpri sl-prpri2">1.750.000đ</span>
                            <div class="sl-prifbot">
                                <ul>
                                    <li>Rank: Vàng</li>
                                    <li>Tướng: 135</li>
                                    <li>Trang Phục: 292</li>
                                </ul>
                            </div>
                            <p class="sl-prbot"><a style="cursor: pointer;" onclick="showPopupAcc(24393);" class="sl-btnod">MUA NGAY</a></p>
                        </div>
                    </div>
                </div><div class="sl-prodli">
                    <div class="sl-prodbox">
                        <img src="https://shoplienminh360.vn/public/img/price-percent-br-2.png" style="position:absolute; top:-2px; right:-9px;z-index:99">
                        <span style="color:#000; position:absolute; top:8px; right:0px; z-index:99;"><b>-30%</b></span>
                        <a class="sl-prlinks" href="https://shoplienminh360.vn/tai-khoan-23545.html">
                            <span class="sl-lpcode">Skin Ngon</span>
                            <p class="sl-primg"><img src="https://shoplienminh360.vn/public/files/thumb/23545-1.jpg"></p>
                            <div class="sl-prcode">
                                <span>Acc LOL #23545</span>
                                <div class="hidden-xs">
                                    <img class="sl-champMaster" style="right: 5px;" src="https://shoplienminh360.vn/public/img/champion/Thresh.png">
                                    <img class="sl-champMaster" style="right: 40px;" src="https://shoplienminh360.vn/public/img/champion/Braum.png">
                                    <img class="sl-champMaster" style="right: 75px;" src="https://shoplienminh360.vn/public/img/champion/Nami.png">
                                </div>
                            </div>
                            <div class="sl-priftop">
                                <p class="sl-prcode"><span>Acc LOL #23545</span></p>
                                <ul>
                                    <li>Rank: Chưa</li>
                                    <li>Khung: Chưa</li>
                                    <li>Tướng: 133</li>
                                    <li>Trang Phục: 177</li>
                                    <li>Bảng Ngọc: 17</li>
                                </ul>
                            </div>
                        </a>
                        <div class="sl-prifs">
                            <span class="sl-prpri sl-prpri1 hidden-xs"><img src="https://shoplienminh360.vn/public/img/rank/unrank.png" width="45" height="45"></span>
                            <span class="sl-prpri sl-prpri2 hidden-xs" style="top: 50px; font-size: 12px; text-decoration: line-through; color: #bdc3c7">1.200.000đ</span>
                            <span class="sl-prpri sl-prpri2">840.000đ</span>
                            <div class="sl-prifbot">
                                <ul>
                                    <li>Rank: Chưa</li>
                                    <li>Tướng: 133</li>
                                    <li>Trang Phục: 177</li>
                                </ul>
                            </div>
                            <p class="sl-prbot"><a style="cursor: pointer;" onclick="showPopupAcc(23545);" class="sl-btnod">MUA NGAY</a></p>
                        </div>
                    </div>
                </div><div class="sl-prodli">
                    <div class="sl-prodbox">
                        <img src="https://shoplienminh360.vn/public/img/price-percent-br-2.png" style="position:absolute; top:-2px; right:-9px;z-index:99">
                        <span style="color:#000; position:absolute; top:8px; right:0px; z-index:99;"><b>-30%</b></span>
                        <a class="sl-prlinks" href="https://shoplienminh360.vn/tai-khoan-23496.html">
                            <span class="sl-lpcode">Skin Nhiều Ngon - Rẻ</span>
                            <p class="sl-primg"><img src="https://shoplienminh360.vn/public/files/thumb/23496-1.jpg"></p>
                            <div class="sl-prcode">
                                <span>Acc LOL #23496</span>
                                <div class="hidden-xs">
                                    <img class="sl-champMaster" style="right: 5px;" src="https://shoplienminh360.vn/public/img/champion/Lee Sin.png">
                                    <img class="sl-champMaster" style="right: 40px;" src="https://shoplienminh360.vn/public/img/champion/Draven.png">
                                    <img class="sl-champMaster" style="right: 75px;" src="https://shoplienminh360.vn/public/img/champion/Yasuo.png">
                                </div>
                            </div>
                            <div class="sl-priftop">
                                <p class="sl-prcode"><span>Acc LOL #23496</span></p>
                                <ul>
                                    <li>Rank: Vàng</li>
                                    <li>Khung: Chưa</li>
                                    <li>Tướng: 143</li>
                                    <li>Trang Phục: 378</li>
                                    <li>Bảng Ngọc: 20</li>
                                </ul>
                            </div>
                        </a>
                        <div class="sl-prifs">
                            <span class="sl-prpri sl-prpri1 hidden-xs"><img src="https://shoplienminh360.vn/public/img/rank/gold.png" width="45" height="45"></span>
                            <span class="sl-prpri sl-prpri2 hidden-xs" style="top: 50px; font-size: 12px; text-decoration: line-through; color: #bdc3c7">2.500.000đ</span>
                            <span class="sl-prpri sl-prpri2">1.750.000đ</span>
                            <div class="sl-prifbot">
                                <ul>
                                    <li>Rank: Vàng</li>
                                    <li>Tướng: 143</li>
                                    <li>Trang Phục: 378</li>
                                </ul>
                            </div>
                            <p class="sl-prbot"><a style="cursor: pointer;" onclick="showPopupAcc(23496);" class="sl-btnod">MUA NGAY</a></p>
                        </div>
                    </div>
                </div><div class="sl-prodli">
                    <div class="sl-prodbox">
                        <img src="https://shoplienminh360.vn/public/img/price-percent-br-2.png" style="position:absolute; top:-2px; right:-9px;z-index:99">
                        <span style="color:#000; position:absolute; top:8px; right:0px; z-index:99;"><b>-30%</b></span>
                        <a class="sl-prlinks" href="https://shoplienminh360.vn/tai-khoan-23888.html">
                            <span class="sl-lpcode">Ngon BỔ Rẻ</span>
                            <p class="sl-primg"><img src="https://shoplienminh360.vn/public/files/thumb/23888-1.jpg"></p>
                            <div class="sl-prcode">
                                <span>Acc LOL #23888</span>
                                <div class="hidden-xs">
                                    <img class="sl-champMaster" style="right: 5px;" src="https://shoplienminh360.vn/public/img/champion/Jinx.png">
                                    <img class="sl-champMaster" style="right: 40px;" src="https://shoplienminh360.vn/public/img/champion/Thresh.png">
                                    <img class="sl-champMaster" style="right: 75px;" src="https://shoplienminh360.vn/public/img/champion/Alistar.png">
                                </div>
                            </div>
                            <div class="sl-priftop">
                                <p class="sl-prcode"><span>Acc LOL #23888</span></p>
                                <ul>
                                    <li>Rank: Bạch Kim</li>
                                    <li>Khung: Chưa</li>
                                    <li>Tướng: 143</li>
                                    <li>Trang Phục: 190</li>
                                    <li>Bảng Ngọc: 10</li>
                                </ul>
                            </div>
                        </a>
                        <div class="sl-prifs">
                            <span class="sl-prpri sl-prpri1 hidden-xs"><img src="https://shoplienminh360.vn/public/img/rank/platinum.png" width="45" height="45"></span>
                            <span class="sl-prpri sl-prpri2 hidden-xs" style="top: 50px; font-size: 12px; text-decoration: line-through; color: #bdc3c7">2.000.000đ</span>
                            <span class="sl-prpri sl-prpri2">1.400.000đ</span>
                            <div class="sl-prifbot">
                                <ul>
                                    <li>Rank: Bạch Kim</li>
                                    <li>Tướng: 143</li>
                                    <li>Trang Phục: 190</li>
                                </ul>
                            </div>
                            <p class="sl-prbot"><a style="cursor: pointer;" onclick="showPopupAcc(23888);" class="sl-btnod">MUA NGAY</a></p>
                        </div>
                    </div>
                </div><div class="sl-prodli">
                    <div class="sl-prodbox">
                        <img src="https://shoplienminh360.vn/public/img/price-percent-br-2.png" style="position:absolute; top:-2px; right:-9px;z-index:99">
                        <span style="color:#000; position:absolute; top:8px; right:0px; z-index:99;"><b>-30%</b></span>
                        <a class="sl-prlinks" href="https://shoplienminh360.vn/tai-khoan-12966.html">
                            <span class="sl-lpcode">Cực Ngon - Giao Dịch ATM Chỉ còn 6500K</span>
                            <p class="sl-primg"><img src="https://shoplienminh360.vn/public/files/thumb/12966-1.jpg"></p>
                            <div class="sl-prcode">
                                <span>Acc LOL #12966</span>
                                <div class="hidden-xs">
                                    <img class="sl-champMaster" style="right: 5px;" src="https://shoplienminh360.vn/public/img/champion/Yasuo.png">
                                    <img class="sl-champMaster" style="right: 40px;" src="https://shoplienminh360.vn/public/img/champion/Annie.png">
                                    <img class="sl-champMaster" style="right: 75px;" src="https://shoplienminh360.vn/public/img/champion/Lee Sin.png">
                                </div>
                            </div>
                            <div class="sl-priftop">
                                <p class="sl-prcode"><span>Acc LOL #12966</span></p>
                                <ul>
                                    <li>Rank: Bạch Kim</li>
                                    <li>Khung: Cao thủ</li>
                                    <li>Tướng: 141</li>
                                    <li>Trang Phục: 893</li>
                                    <li>Bảng Ngọc: 20</li>
                                </ul>
                            </div>
                        </a>
                        <div class="sl-prifs">
                            <span class="sl-prpri sl-prpri1 hidden-xs"><img src="https://shoplienminh360.vn/public/img/rank/platinum.png" width="45" height="45"></span>
                            <span class="sl-prpri sl-prpri2 hidden-xs" style="top: 50px; font-size: 12px; text-decoration: line-through; color: #bdc3c7">10.000.000đ</span>
                            <span class="sl-prpri sl-prpri2">7.000.000đ</span>
                            <div class="sl-prifbot">
                                <ul>
                                    <li>Rank: Bạch Kim</li>
                                    <li>Tướng: 141</li>
                                    <li>Trang Phục: 893</li>
                                </ul>
                            </div>
                            <p class="sl-prbot"><a style="cursor: pointer;" onclick="showPopupAcc(12966);" class="sl-btnod">MUA NGAY</a></p>
                        </div>
                    </div>
                </div><div class="sl-prodli">
                    <div class="sl-prodbox">
                        <img src="https://shoplienminh360.vn/public/img/price-percent-br-2.png" style="position:absolute; top:-2px; right:-9px;z-index:99">
                        <span style="color:#000; position:absolute; top:8px; right:0px; z-index:99;"><b>-30%</b></span>
                        <a class="sl-prlinks" href="https://shoplienminh360.vn/tai-khoan-25489.html">
                            <p class="sl-primg"><img src="https://shoplienminh360.vn/public/files/thumb/25489-1.jpg"></p>
                            <div class="sl-prcode">
                                <span>Acc LOL #25489</span>
                                <div class="hidden-xs">
                                    <img class="sl-champMaster" style="right: 5px;" src="https://shoplienminh360.vn/public/img/champion/Lee Sin.png">
                                    <img class="sl-champMaster" style="right: 40px;" src="https://shoplienminh360.vn/public/img/champion/Yasuo.png">
                                    <img class="sl-champMaster" style="right: 75px;" src="https://shoplienminh360.vn/public/img/champion/Jinx.png">
                                </div>
                            </div>
                            <div class="sl-priftop">
                                <p class="sl-prcode"><span>Acc LOL #25489</span></p>
                                <ul>
                                    <li>Rank: Vàng</li>
                                    <li>Khung: Chưa</li>
                                    <li>Tướng: 130</li>
                                    <li>Trang Phục: 124</li>
                                    <li>Bảng Ngọc: 2</li>
                                </ul>
                            </div>
                        </a>
                        <div class="sl-prifs">
                            <span class="sl-prpri sl-prpri1 hidden-xs"><img src="https://shoplienminh360.vn/public/img/rank/gold.png" width="45" height="45"></span>
                            <span class="sl-prpri sl-prpri2 hidden-xs" style="top: 50px; font-size: 12px; text-decoration: line-through; color: #bdc3c7">900.000đ</span>
                            <span class="sl-prpri sl-prpri2">630.000đ</span>
                            <div class="sl-prifbot">
                                <ul>
                                    <li>Rank: Vàng</li>
                                    <li>Tướng: 130</li>
                                    <li>Trang Phục: 124</li>
                                </ul>
                            </div>
                            <p class="sl-prbot"><a style="cursor: pointer;" onclick="showPopupAcc(25489);" class="sl-btnod">MUA NGAY</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sl-paging"><ul><li class="item active"><a>1</a></li><li class="item"><a href="https://shoplienminh360.vn/?page=2" data-ci-pagination-page="2">2</a></li><li class="item"><a href="https://shoplienminh360.vn/?page=3" data-ci-pagination-page="3">3</a></li><li class="item"><a href="https://shoplienminh360.vn/?page=4" data-ci-pagination-page="4">4</a></li><li class="item"><a href="https://shoplienminh360.vn/?page=5" data-ci-pagination-page="5">5</a></li><li class="item"><a href="https://shoplienminh360.vn/?page=6" data-ci-pagination-page="6">6</a></li><li class="item"><a href="https://shoplienminh360.vn/?page=2" data-ci-pagination-page="2">»</a></li><li class="item"><a href="https://shoplienminh360.vn/?page=21" data-ci-pagination-page="21">»»</a></li></ul></div>
        </div>
        <div id="loading" style="margin: 30px 0; text-align: center; display: none;">
            <img src="https://shoplienminh360.vn/public/img/loading.gif">
        </div>
    </div>
</div>