
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!-- List account -->

<div id="list-account">

    <div class="sl-produl clearfix">
        <div class="sl-prodli">
            <div class="sl-prodbox">
                @*<img src="https://shoplienminh360.vn/public/img/price-percent-br-2.png" style="position:absolute; top:-2px; right:-9px;z-index:99">*@
                @*<span style="color:#000; position:absolute; top:8px; right:0px; z-index:99;"><b>-30%</b></span>*@
                <a class="sl-prlinks" href="">
                    <span class="sl-lpcode">Acc Ngon - Skin Gắt </span>
                    <p class="sl-primg"><img src="~/img/acc/25409-1.jpg"></p>
                    <div class="sl-prcode">
                        <span>Acc LOL #25485</span>
                        <div class="hidden-xs">
                            <img class="sl-champMaster" style="right: 5px;" src="~/img/acc/Jinx.png">
                            <img class="sl-champMaster" style="right: 40px;" src="~/img/acc/Karma.png">
                            <img class="sl-champMaster" style="right: 75px;" src="~/img/acc/Master Yi.png">
                        </div>
                    </div>
                    <div class="sl-priftop">
                        <p class="sl-prcode"><span>Acc LOL #25485</span></p>
                        <ul>
                            <li>Rank: Bạch Kim</li>
                            <li>Khung: Bạch Kim</li>
                            <li>Tướng: 120</li>
                            <li>Trang Phục: 236</li>
                            <li>Bảng Ngọc: 4</li>
                        </ul>
                    </div>
                </a>
                <div class="sl-prifs">
                    <span class="sl-prpri sl-prpri1 hidden-xs"><img src="~/img/acc/platinum.png" width="45" height="45"></span>
                    <span class="sl-prpri sl-prpri2 hidden-xs" style="top: 50px; font-size: 12px; text-decoration: line-through; color: #bdc3c7">2.000.000đ</span>
                    <span class="sl-prpri sl-prpri2">1.400.000đ</span>
                    <div class="sl-prifbot">
                        <ul>
                            <li>Rank: Bạch Kim</li>
                            <li>Tướng: 120</li>
                            <li>Trang Phục: 236</li>
                        </ul>
                    </div>
                    <p class="sl-prbot"><a style="cursor: pointer;" onclick="showPopupAcc(25485);" class="sl-btnod">MUA NGAY</a></p>
                </div>
            </div>
        </div>
        <div class="sl-prodli">
            <div class="sl-prodbox">
                <a class="sl-prlinks" href="https://shoplienminh360.vn/tai-khoan-7055.html">
                    <span class="sl-lpcode">Bạn Nào Lần Đầu Mua Acc Tại Shop Sợ Lừa Đảo Thì Vào Đây Xem Nhé</span>
                    <p class="sl-primg"><img src="https://shoplienminh360.vn/public/files/thumb/7055-1.jpg"></p>
                    <div class="sl-prcode">
                        <span>Acc LOL #7055</span>
                    </div>
                    <div class="sl-priftop">
                        <p class="sl-prcode"><span>Acc LOL #7055</span></p>
                        <ul>
                            <li>Rank: Thách đấu</li>
                            <li>Khung: Thách đấu</li>
                            <li>Tướng: 0</li>
                            <li>Trang Phục: 0</li>
                            <li>Bảng Ngọc: 88</li>
                        </ul>
                    </div>
                </a>
                <div class="sl-prifs">
                    <span class="sl-prpri sl-prpri1 hidden-xs"><img src="https://shoplienminh360.vn/public/img/rank/challenger.png" width="45" height="45"></span>
                    <span class="sl-prpri sl-prpri2">888.888.888đ</span>
                    <div class="sl-prifbot">
                        <ul>
                            <li>Rank: Thách đấu</li>
                            <li>Tướng: 0</li>
                            <li>Trang Phục: 0</li>
                        </ul>
                    </div>
                    <p class="sl-prbot"><a style="cursor: pointer;" onclick="showPopupAcc(7055);" class="sl-btnod">MUA NGAY</a></p>
                </div>
            </div>
        </div>
        <div class="sl-prodli">
            <div class="sl-prodbox">
                <img src="https://shoplienminh360.vn/public/img/price-percent-br-2.png" style="position:absolute; top:-2px; right:-9px;z-index:99">
                <span style="color:#000; position:absolute; top:8px; right:0px; z-index:99;"><b>-30%</b></span>
                <a class="sl-prlinks" href="https://shoplienminh360.vn/tai-khoan-24380.html">
                    <span class="sl-lpcode">Acc Ngon - Giá Quá Ok </span>
                    <p class="sl-primg"><img src="https://shoplienminh360.vn/public/files/thumb/24380-1.jpg"></p>
                    <div class="sl-prcode">
                        <span>Acc LOL #24380</span>
                        <div class="hidden-xs">
                            <img class="sl-champMaster" style="right: 5px;" src="https://shoplienminh360.vn/public/img/champion/Yasuo.png">
                            <img class="sl-champMaster" style="right: 40px;" src="https://shoplienminh360.vn/public/img/champion/Lee Sin.png">
                            <img class="sl-champMaster" style="right: 75px;" src="https://shoplienminh360.vn/public/img/champion/Zed.png">
                        </div>
                    </div>
                    <div class="sl-priftop">
                        <p class="sl-prcode"><span>Acc LOL #24380</span></p>
                        <ul>
                            <li>Rank: Vàng</li>
                            <li>Khung: Chưa</li>
                            <li>Tướng: 143</li>
                            <li>Trang Phục: 237</li>
                            <li>Bảng Ngọc: 20</li>
                        </ul>
                    </div>
                </a>
                <div class="sl-prifs">
                    <span class="sl-prpri sl-prpri1 hidden-xs"><img src="https://shoplienminh360.vn/public/img/rank/gold.png" width="45" height="45"></span>
                    <span class="sl-prpri sl-prpri2 hidden-xs" style="top: 50px; font-size: 12px; text-decoration: line-through; color: #bdc3c7">2.000.000đ</span>
                    <span class="sl-prpri sl-prpri2">1.400.000đ</span>
                    <div class="sl-prifbot">
                        <ul>
                            <li>Rank: Vàng</li>
                            <li>Tướng: 143</li>
                            <li>Trang Phục: 237</li>
                        </ul>
                    </div>
                    <p class="sl-prbot"><a style="cursor: pointer;" onclick="showPopupAcc(24380);" class="sl-btnod">MUA NGAY</a></p>
                </div>
            </div>
        </div>
        <div class="sl-prodli">
            <div class="sl-prodbox">
                <img src="https://shoplienminh360.vn/public/img/price-percent-br-2.png" style="position:absolute; top:-2px; right:-9px;z-index:99">
                <span style="color:#000; position:absolute; top:8px; right:0px; z-index:99;"><b>-30%</b></span>
                <a class="sl-prlinks" href="https://shoplienminh360.vn/tai-khoan-23454.html">
                    <span class="sl-lpcode">Toàn Skin Đẹp Rẻ Nhé</span>
                    <p class="sl-primg"><img src="https://shoplienminh360.vn/public/files/thumb/23454-1.jpg"></p>
                    <div class="sl-prcode">
                        <span>Acc LOL #23454</span>
                        <div class="hidden-xs">
                            <img class="sl-champMaster" style="right: 5px;" src="https://shoplienminh360.vn/public/img/champion/Sona.png">
                            <img class="sl-champMaster" style="right: 40px;" src="https://shoplienminh360.vn/public/img/champion/Lux.png">
                            <img class="sl-champMaster" style="right: 75px;" src="https://shoplienminh360.vn/public/img/champion/Nami.png">
                        </div>
                    </div>
                    <div class="sl-priftop">
                        <p class="sl-prcode"><span>Acc LOL #23454</span></p>
                        <ul>
                            <li>Rank: Vàng</li>
                            <li>Khung: Chưa</li>
                            <li>Tướng: 122</li>
                            <li>Trang Phục: 249</li>
                            <li>Bảng Ngọc: 9</li>
                        </ul>
                    </div>
                </a>
                <div class="sl-prifs">
                    <span class="sl-prpri sl-prpri1 hidden-xs"><img src="https://shoplienminh360.vn/public/img/rank/gold.png" width="45" height="45"></span>
                    <span class="sl-prpri sl-prpri2 hidden-xs" style="top: 50px; font-size: 12px; text-decoration: line-through; color: #bdc3c7">2.200.000đ</span>
                    <span class="sl-prpri sl-prpri2">1.540.000đ</span>
                    <div class="sl-prifbot">
                        <ul>
                            <li>Rank: Vàng</li>
                            <li>Tướng: 122</li>
                            <li>Trang Phục: 249</li>
                        </ul>
                    </div>
                    <p class="sl-prbot"><a style="cursor: pointer;" onclick="showPopupAcc(23454);" class="sl-btnod">MUA NGAY</a></p>
                </div>
            </div>
        </div>
        <div class="sl-prodli">
            <div class="sl-prodbox">
                <img src="https://shoplienminh360.vn/public/img/price-percent-br-2.png" style="position:absolute; top:-2px; right:-9px;z-index:99">
                <span style="color:#000; position:absolute; top:8px; right:0px; z-index:99;"><b>-30%</b></span>
                <a class="sl-prlinks" href="https://shoplienminh360.vn/tai-khoan-24440.html">
                    <span class="sl-lpcode">Acc Ngon - Rẻ</span>
                    <p class="sl-primg"><img src="https://shoplienminh360.vn/public/files/thumb/24440-1.jpg"></p>
                    <div class="sl-prcode">
                        <span>Acc LOL #24440</span>
                        <div class="hidden-xs">
                            <img class="sl-champMaster" style="right: 5px;" src="https://shoplienminh360.vn/public/img/champion/Jinx.png">
                            <img class="sl-champMaster" style="right: 40px;" src="https://shoplienminh360.vn/public/img/champion/Katarina.png">
                            <img class="sl-champMaster" style="right: 75px;" src="https://shoplienminh360.vn/public/img/champion/Nasus.png">
                        </div>
                    </div>
                    <div class="sl-priftop">
                        <p class="sl-prcode"><span>Acc LOL #24440</span></p>
                        <ul>
                            <li>Rank: Bạc</li>
                            <li>Khung: Chưa</li>
                            <li>Tướng: 143</li>
                            <li>Trang Phục: 261</li>
                            <li>Bảng Ngọc: 5</li>
                        </ul>
                    </div>
                </a>
                <div class="sl-prifs">
                    <span class="sl-prpri sl-prpri1 hidden-xs"><img src="https://shoplienminh360.vn/public/img/rank/silver.png" width="45" height="45"></span>
                    <span class="sl-prpri sl-prpri2 hidden-xs" style="top: 50px; font-size: 12px; text-decoration: line-through; color: #bdc3c7">2.000.000đ</span>
                    <span class="sl-prpri sl-prpri2">1.400.000đ</span>
                    <div class="sl-prifbot">
                        <ul>
                            <li>Rank: Bạc</li>
                            <li>Tướng: 143</li>
                            <li>Trang Phục: 261</li>
                        </ul>
                    </div>
                    <p class="sl-prbot"><a style="cursor: pointer;" onclick="showPopupAcc(24440);" class="sl-btnod">MUA NGAY</a></p>
                </div>
            </div>
        </div>
    </div>


    <div class="sl-paging"><ul><li class="item active"><a>1</a></li><li class="item"><a href="https://shoplienminh360.vn/?page=2" data-ci-pagination-page="2">2</a></li><li class="item"><a href="https://shoplienminh360.vn/?page=3" data-ci-pagination-page="3">3</a></li><li class="item"><a href="https://shoplienminh360.vn/?page=4" data-ci-pagination-page="4">4</a></li><li class="item"><a href="https://shoplienminh360.vn/?page=5" data-ci-pagination-page="5">5</a></li><li class="item"><a href="https://shoplienminh360.vn/?page=6" data-ci-pagination-page="6">6</a></li><li class="item"><a href="https://shoplienminh360.vn/?page=2" data-ci-pagination-page="2">»</a></li><li class="item"><a href="https://shoplienminh360.vn/?page=21" data-ci-pagination-page="21">»»</a></li></ul></div>
</div>
<div id="loading" style="margin: 30px 0; text-align: center; display: none;">
    <img src="https://shoplienminh360.vn/public/img/loading.gif">
</div>