<div class="sl-hdcbox">
    <h4 class="sl-htit sl-ht1">TOP NẠP THẺ THÁNG</h4>
    <ul class="sl-htul">
        <li>
            <i>1</i>
            <span>Thai Bui</span>
            <label>17.000.000 <sup>đ</sup></label>
        </li>
        <li>
            <i>2</i>
            <span>Hung TranViet</span>
            <label>12.500.000 <sup>đ</sup></label>
        </li>
        <li>
            <i>3</i>
            <span>Nguyen Ngoc Tuấn</span>
            <label>11.800.000 <sup>đ</sup></label>
        </li>
        <li>
            <i>4</i>
            <span>HệŢhống Messeňger</span>
            <label>7.300.000 <sup>đ</sup></label>
        </li>
        <li>
            <i>5</i>
            <span>Toàn Nguyễn</span>
            <label>6.000.000 <sup>đ</sup></label>
        </li>
        <li>
            <i>6</i>
            <span>Trần Jen</span>
            <label>3.500.000 <sup>đ</sup></label>
        </li>

    </ul>
</div>
